body.cv {
	letter-spacing: 0.1em;
	color: $primary;
	h1, h2, h3, h4 {
		color: $black;
	}
	ul.skillsList,
	ul.education,
	ul.dateList {
		display: list-item;
	}
	.toTop {
		margin: 50px auto 0;
	}
}
.resumeHeader {
	min-height: 10vh;
}
.skillsSummary,
.toTop {
	line-height: 2;
	h2 {
		text-transform: uppercase;
		border-bottom: 3px solid $primary;
		margin-bottom: 20px;
	}
	h3 {
		font-weight: 600;
		font-style: italic;
	}
	a {
		text-decoration: none;
		color: $primary;
		transition: all 0.3s;
	}
	a:hover {
		color: $black;
		font-weight: 700;
		cursor: pointer;
	}
	p {
		margin-left: 10px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			margin-left: 10px;
		}
	}
}	
ul.contactInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 2rem;
	color: $black;
	li {
		margin-right: 20px;
	}
	@media (max-width: 480px) {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 20px;
	}
}
.icons {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	margin: 20px auto;
	justify-content: space-around;
	.icon {
		width: 10%;
		text-align: center;
		color: black;
		@media (max-width: 768px) {
			width: 50%;
			margin-top: 20px;
		}
		p {
			margin: 0;
			padding: 0;
			font-family: 'Lato', sans-serif;
		}
	}
}
.skillsList {
	li {
		padding-left: 10px;
		list-style: disc inside;
	}
}
.dateList {	
	li {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		&::before {
			border-bottom: 1px solid #ccc;
			content: "";
			flex-grow: 1;
			height: 1em;
			order: 2;
			margin: 0 3px;
		}
		.date {
			order: 3;
			padding-top: 0.5em;
		}
	}
}

